<section id="features">
  <div class="container features-container p-5">
    <div class="row">
      <div class="col text-center features-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
    </div>
    <div class="row py-4">
      <div class="col text-center feature-tile">
        <div class="col feature-detail">
          <div class="title">
            <span>100+ million</span>
          </div>
          <div class="sub-title">
            <span class="text-secondary">Some feature about the company</span>
          </div>
        </div>
      </div>
      <div class="col text-center feature-tile">
        <div class="col feature-detail">
          <div class="title">
            <span>100+ million</span>
          </div>
          <div class="sub-title">
            <span class="text-secondary">Some feature about the company</span>
          </div>
        </div>
      </div>
      <div class="col text-center feature-tile">
        <div class="col feature-detail">
          <div class="title">
            <span>100+ million</span>
          </div>
          <div class="sub-title">
            <span class="text-secondary">Some feature about the company</span>
          </div>
        </div>
      </div>
      <div class="col text-center feature-tile">
        <div class="col feature-detail">
          <div class="title">
            <span>100+ million</span>
          </div>
          <div class="sub-title">
            <span class="text-secondary">Some feature about the company</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 feature-item">
        <div class="row align-items-center">
          <div class="col-xs-12 col-lg-6 col text-center feature-detail">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="sub-title">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6 col feature-card">
            <div class="card">
              <h5 class="card-header">Featured</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 feature-item">
        <div class="row align-items-center">
          <div class="col feature-card">
            <div class="card">
              <h5 class="card-header">Featured</h5>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam laboriosam cupiditate, totam, quisquam velit unde corrupti quas doloremque exercitationem ut beatae sit voluptate temporibus, sunt praesentium tempore.
                  Ipsam, perspiciatis incidunt.
                </p><br>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam laboriosam cupiditate, totam, quisquam velit unde corrupti quas doloremque exercitationem ut beatae sit voluptate temporibus, sunt praesentium tempore.
                  Ipsam, perspiciatis incidunt.
                </p>
              </div>
            </div>
          </div>
          <div class="col text-center feature-detail">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="sub-title">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 feature-item">
        <div class="row align-items-center">
          <div class="col text-center feature-detail">
            <div class="title">
              <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="sub-title">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div class="col feature-card">
            <div class="card">
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Numquam laboriosam cupiditate, totam, quisquam velit unde corrupti quas doloremque exercitationem ut beatae sit voluptate temporibus, sunt praesentium tempore.
                  Ipsam, perspiciatis incidunt.
                </p>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
