<section id="contact">
  <div class="container py-5">
    <form (ngSubmit)="onSubmit()" #joinForm="ngForm">
      <div class="row justify-content-center">
        <div class="col-6 py-5 contact-card">
          <div class="row mb-3">
            <div class="col text-center title">
              <h1>Join Us Today!</h1>
            </div>
          </div>
          <div class="row px-3">
            <div class="col-sm-6 pb-4">
              <label for="firstName" class="form-label">First name <span class="text-muted">(Optional)</span></label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                ngModel
                name="firstName"
              >
            </div>
            <div class="col-sm-6 pb-4">
              <label for="lastName" class="form-label">Last name <span class="text-muted">(Optional)</span></label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                ngModel
                name="lastName"
              >
            </div>
            <div class="col-12 pb-4">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input
                  type="text"
                  [ngClass]="{ 'is-invalid': username.invalid && username.touched }"
                  class="form-control"
                  id="username"
                  placeholder="Username"
                  [(ngModel)]="testUserName"
                  name="username"
                  #username="ngModel"
                  required
                >
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
              <div class="text-secondary">
                <span>Your username would be: {{ testUserName }}#company</span>
              </div>
            </div>
            <div class="col-12 pb-4">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
                class="form-control"
                id="email"
                placeholder="you@example.com"
                ngModel
                name="email"
                #email="ngModel"
                email
                required
              >
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            <div class="col-md-12 pb-4">
              <label for="tier" class="form-label">Tier</label>
              <select
                class="form-select"
                id="tier"
                ngModel
                name="tier"
                [ngModel]="2"
              >
                <option value="1">Tier 1</option>
                <option value="2">Tier 2</option>
                <option value="3">Tier 3</option>
                <option value="4">Tier 4</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid tier.
              </div>
            </div>
            <div class="col-6">
              <label for="gender" class="form-label">Gender</label>
              <div class="form-check">
                <input id="male" name="gender" type="radio" class="form-check-input" value="male" checked ngModel name="gender">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check">
                <input id="female" name="gender" type="radio" class="form-check-input" value="female" ngModel name="gender">
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
            <hr class="my-4">
            <button
              class="w-100 btn btn-primary btn-lg"
              type="submit"
              [disabled]="joinForm.status === 'INVALID'"
            >Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
