<section id="banner">
  <div class="container-fluid banner-container p-5">
    <div class="row align-items-center">
      <div class="col banner-left">
        <h1 class="header-larger">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
        <span class="text-secondary">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Veniam aspernatur unde officia, quia dolores dolorum praesentium nam blanditiis aperiam molestiae.
        </span>
      </div>
      <div class="col banner-right">
        <div class="col banner-image-wrapper">
          <img class="banner-image img-fluids" src="assets/images/employees.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
